.intro_secc {
    height: calc(100vh - 60px);
    min-height: 700px;
    height: 100vh;
    margin-top: -60px;
    background-size: cover;
    margin-left: 0;
}



.intro_seccc .text,
.intro_secc .h_bg-image {
    width: 100%;
    object-fit: cover; !important;
}

.project-info {
    position: absolute;
    width: 24vw;
    right: 10vw;
    height: 100vh;
    padding: 10vh 0px;
    z-index: 99;
}

.voile {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}