@font-face {
    font-family: 'Mauline';
    src: url('/public/fonts/Mauline.otf') format('opentype');
}

:root {
    --bg-color: #000000;
    --primary-color: #0d0d0d;
    --secondary-color: #fff;
    --text-color: #fff;
    --color-home: #8a8a8a;
    --text-color-2: #fff;
    --text-color-3: rgb(255, 255, 255);
    --overlay-color: rgb(12 12 12 / 63%);
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --primary-color: #ffffff;
    --secondary-color: #000;
    --text-color: #000;
    --color-home: #000000;
    --text-color-2: #000;
    --text-color-3: rgb(255, 255, 255);
    --overlay-color: rgb(255 255 255 / 70%);
}


html,
body {
    height: 100%;
    scrollbar-width: none;
    cursor: none;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: var(--bg-color) !important ;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Marcellus;
}

a,
a:hover{
    color: var(--text-color);
}

p {
    word-break: break-word;
    hyphens: auto;
}

.ovhidden {
    overflow: hidden;
}

.text_2,
.text_2:hover {
    color: var(--text-color-2);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor__dot div {
    z-index: 999999 !important;
    mix-blend-mode: difference;
}

.cursor__dot div:last-child {
    background-color: var(--text-color-3) !important;
    border: 1px solid var(--text-color-3) !important;
}
.cursor__dot div:first-child {
    border: 1px solid var(--text-color-3) !important;
}



.color_pr {
    color: var(--primary-color) !important;
}

.color_sec {
    color: var(--secondary-color);
}

::-webkit-scrollbar {
    display: none;

}

.flash {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999999999999999999999999999999999999;
}

.next-project {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    cursor: none;
}
.next-project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.next-project .text-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 25vh;
    font-weight: 400;
    line-height: 1.2;
    font-family: "Bebas Neue", sans-serif;
    white-space: nowrap;
    letter-spacing: 0px;
    transition-duration: 0.5s;
    transition-property: font-size;
}
@media screen and (max-width: 991px) {
    .next-project .text-h1 {
        font-size: 15vh;
    }
}
.next-project .text-h1 h4 {
    color: white;
    opacity: 0.7;
    font-size: 16px;
}
.next-project .voile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.endScroll {
    padding: 9em 10vw;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.endScroll .text-h2.serif {
    font-family: Ginger;
    font-size: 5em;
    font-weight: 300;
}
.endScroll p {
    color: gray;
    width: 400px;
}

.btn {
    cursor: none !important;
}
